* {
    padding: 0px;
    margin: 0px;
    font-family: Iransans;
}

.title {
    font-size: 15px;
}

form {
    display: block;
}

form .todo-name-input {
    margin-top: 0px;
    margin-right: 20px;
    font-size: 15px;
}

form .todo-mobile-input {
    margin-top: 2px;
    margin-right: 20px;
    font-size: 15px;
}

form input {
    padding: 2px;
}

.type-number {
    position: absolute;
    margin-right: 210px;
    margin-top: -64px;
    font-size: 10px;
}

select {
    color: black;
    width: 105px;
    padding: 7px;
    font-size: 10px;
    text-align: right;
    border: 1px solid #777777;
    border-radius: 0 3px 3px 0;

}

form button {
    display: block;
    margin-right: 318px;
    margin-top: -65px;
    color: white;
    background: #f86c6b;
    cursor: pointer;
    transition: all 0.3s ease transparent;
    border: 1px solid transparent;
    width: 38px;
    height: 33px;
    border-radius: 3px;
    /* align-items: ; */
    font-size: 10px;
}

.todo-container {
    display: block;
    margin-top: 10px;


}